[tool.black]
line-length = 120
target-version = ["py311"]

[tool.isort]
profile = "black"
line_length = 120

[tool.mypy]
python_version = "3.11"
exclude = ["alembic/"]
warn_unused_ignores = false
ignore_missing_imports = true